<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/datepicker.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>KYC</title>
</head>

<body>

<div class="desktop-version">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="logo">
                <a href="index"><img src="../images/logo.png" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" id="sub-header">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="kyc">KYC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rekyc">Re KYC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="replacekyc">Replace KYC</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="authentication">Authentication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="report">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="editkyc">Edit KYC</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="kyc-section">
        